        .card-header {
            font-size: 24px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .card-header {
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .software {
            border: 6px solid purple;
            color: black;
        }
        
        .pymes {
            border: 6px solid red;
            color: black;
        }
        
        .ambiental {
            border: 6px solid green;
            color: black;
        }
        
        .civil {
            border: 6px solid yellow;
            color: black;
        }
        
        .manufactura {
            border: 6px solid orange;
            color: black;
        }
        
        .redes {
            border: 6px solid blue;
            color: black;
        }
        
        .enviar {
            color: white;
            height: 40px;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }