        .salir {
            position: relative;
            right: -380px;
        }
        
        .reg {
            position: relative;
            right: -245px;
        }
        
        .log {
            position: relative;
            right: -240px;
        }