<div class="card text-center">
    <div class="card-header">
        HORARIOS
    </div>
    <div class="card" *ngFor="let horario of horario | async">
        <img class="card-img-top" src="{{horario.img}}">
        <div class="card-body">
            <h2 class="card-title">{{horario.carrera}}</h2>
            <p class="card-text">{{horario.grado}}</p>
            <p class="card-text">{{horario.grupo}}</p>
        </div>
    </div>
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="send()">Agragar Horario</button>
</div>

<div class="form-row align-items-center">
    <div class="col-auto my-1">