            .card-header {
                font-size: 24px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }
            
            .titulos {
                font-size: 16px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }
            
            .selbtn {
                border-bottom-color: #FE9A2E;
            }
            
            .isw {
                background-color: #BCA9F5;
            }
            
            .pymes {
                background-color: #F5A9A9;
            }
            
            .amb {
                background-color: #BCF5A9;
            }
            
            .civil {
                background-color: #F2F5A9;
            }
            
            .man {
                background-color: #F5D0A9;
            }
            
            .redes {
                background-color: #A9BCF5;
            }
            
            .grado {
                background-color: #F5D0A9;
            }
            
            .seleccionarfoto {
                background-color: #FE9A2E;
            }
            
            .btnsubir {
                background-color: #FE9A2E;
            }
            
            .btn {
                background-color: #FE9A2E;
                font-size: 16px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }