<br>
<div class="card text-center">
    <div class="card-header">
        AGREGAR HORARIOS
    </div>
    <div class="card-body">

        <form (ngSubmit)="newHorario(newHorarioForm.value)" [formGroup]="newHorarioForm">
            <!--form #imageForm=ngForm (ngSubmit)="OnSubmit(Carrera, Grado, Grupo, Image)"-->
            <form class="form-inline">
                <label class="my-1 mr-2 titulos" for="carrera">CARRERA:</label>
                <select clas #Carrera ngModel type="selected" class="custom-select my-1 mr-sm-2 selbtn" id="inlineFormCustomSelectPref" formControlName="carrera">
                      <option selected>Selecciona una carrera</option>
                      <option class="isw" value="1">ISW</option>
                      <option class="redes" value="2">IRT</option>
                      <option class="amb" value="3">ITA</option>
                      <option class="man" value="4">ITM</option>
                      <option class="civil" value="5">IC</option>
                      <option class="pymes" value="6">LGAE</option>
                    </select>
            </form>
            <br>
            <br>
            <form class="form-inline">
                <label class="my-1 mr-2 titulos" for="grado">GRADO:</label>
                <select #Grado ngModel type="selected" class="custom-select my-1 mr-sm-2 selbtn" id="inlineFormCustomSelectPref" formControlName="grado">
                      <option selected>Selecciona un grado</option>
                      <option class="grado" value="1">1</option>
                      <option class="grado" value="2">2</option>
                      <option class="grado" value="3">3</option>
                      <option class="grado" value="4">4</option>
                      <option class="grado" value="5">5</option>
                      <option class="grado" value="6">6</option>
                      <option class="grado" value="4">7</option>
                      <option class="grado" value="5">8</option>
                      <option class="grado" value="6">9</option>
                    </select>
            </form>
            <br>
            <br>
            <form class="form-inline">
                <label class="my-1 mr-2 titulos" for="grupo">GRUPO:</label>
                <select #Grupo ngModel type=selected class="custom-select my-1 mr-sm-2 selbtn" id="inlineFormCustomSelectPref" formControlName="grupo">
                      <option selected>Selecciona un grupo</option>
                      <option class="grado" value="1">A</option>
                      <option class="grado" value="2">B</option>
                      <option class="grado" value="3">C</option>
                      <option class="grado" value="4">D</option>
                      <option class="grado" value="5">E</option>
                    </select>
            </form>
            <br>
            <br>

            <div class="container">
                <mat-progress-bar [value]="uploadProgress | async"></mat-progress-bar>
                <div class="item center-block">
                    Progreso: {{ (uploadProgress | async) / 100 | percent }}
                </div>
                <div class="item" style="max-width: 600px">
                    <section>
                        <span style="color: grey; font-size: .8em">
                    {{ uploadURL |async }}
                  </span>
                    </section>
                    <section class="center-block" *ngIf="uploadURL && (uploadURL | async) !== null && (uploadURL | async).length">
                        <a [href]="uploadURL | async" target="_blank">Abrir imagen!</a>
                    </section>
                </div>

                <div class="item">
                    <a [href]="uploadURL | async" target="_blank">Abrir imagen!</a>
                    <input #inputFile (click)="inputFile.click()" class="hidden" class="btnselec" type="file" (change)="upload($event)" accept="image/*" formControlName="img">
                </div>
                <button type="submit" class="enviar btn-block btn-danger " [disabled]="!newHorarioForm.valid" round>ENVIAR</button>
            </div>
        </form>
        <!--/form-->
    </div>
</div>