        .label {
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .tit {
            width: 700px;
        }
        
        .desc {
            width: 700px;
            height: 330px;
        }
        
        .software {
            position: relative;
            border: 6px solid purple;
            color: black;
            width: 351px;
            top: 5px;
            left: 155px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .pymes {
            position: relative;
            border: 6px solid red;
            color: black;
            width: 351px;
            top: -205px;
            left: 575px;
            font-size: 164px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .ambiental {
            position: relative;
            border: 6px solid green;
            color: black;
            width: 351px;
            top: 9px;
            left: 155px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .civil {
            position: relative;
            border: 6px solid yellow;
            color: black;
            width: 351px;
            top: -206px;
            left: 575px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .manufactura {
            position: relative;
            border: 6px solid orange;
            color: black;
            width: 351px;
            top: -209px;
            left: 575px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .redes {
            position: relative;
            border: 6px solid blue;
            color: black;
            width: 351px;
            top: 8px;
            left: 155px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .enviar {
            position: relative;
            top: -205px;
            color: white;
            height: 40px;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 1
        }
        
        .dir {
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .msj {
            font-size: 24px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }