<br>
<div class="card text-center">
    <div class="card-header msj">
        Mensajes
    </div>
    <div class="card-body">
        <form>

            <label class="label">Escribe el mensaje</label>

            <div class="form-group">

                <input #title (keyup.enter)="update(title.value)" (blur)="update(title.value)" class="tit">

            </div>

            <div class="form-group">

                <textarea #desc (keyup.enter)="update(desc.value)" (blur)="update(desc.value)" class="desc"></textarea>

            </div>

            <div class="card-header dir">
                Dirigido al alumnado de:
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text software">
                        <label>Ing. en software</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activateISW($event)" color="purpura">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text redes">
                        <label>Ing. en redes y telecomunicaciones</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activateIRT($event)" color="azul">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text ambiental ">
                        <label>Ing. en tecnología ambiental</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activateITAM($event)" color="secondary">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text manufactura ">
                        <label>Ing. en tecnologías de manufactura</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activateITM($event)" color="naranja">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text civil ">
                        <label>Ing. civil</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activateCIVIL($event)" color="amarillo">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text pymes ">
                        <label>Lic. en gestión y administración de empresas</label>
                        <input type="checkbox" aria-label="Checkbox for following text input" checked="false" data-md-icheck (change)="activatePYMES($event)" color="rojo">
                    </div>
                </div>
            </div>
            <!--button type="button " (click)="scheduleNotification(carrera) " class="enviar btn-block btn-danger " round>ENVIAR</button-->
            <button type="button " (click)="update(title.value, desc.value) " class="enviar btn-block btn-danger " round>PUBLICAR</button>
        </form>
    </div>
</div>